<div class="workings">

  <h1>Welcome to My Quote-App</h1>
  <hr>
  <div class="jose">
  <ul>
    <h2>My Quotes</h2>
    <div *ngFor='let quote of quote;let i = index'>
      <li>{{quote.name}} {{quote.completeDate|date}}</li>
      <button (click)='toggleDetails(i)'>Toggle Details</button>
      <app-quote-detail *ngIf='quote.showDescription' [quote]='quote' (isComplete) = 'deleteQuote($event,i)'></app-quote-detail>
      <div id="thumb">
        <p>{{quote.like}}</p>
        <p (click)='uvote(i)'><i class="fa fa-thumbs-up" aria-hidden="true" style="color: green; font-size: 30px;"></i></p>
         <p> {{quote.dislike}}</p>
        <p (click)='dvote(i)'><i class="fa fa-thumbs-down" style = "font-size: 30px; color: red;" aria-hidden="true"></i></p>
      </div>

    </div>
  </ul>
    <div class="col-md-6">
      <h2>Add New Quotes</h2>
       <app-quote-form (add)='addQuote($event)' ></app-quote-form>


</div>

