.form-group{
  align-items: center;
  padding: 50px;
  margin-top: 0px;
  background-color: lavenderblush;
}
.btn{
  align-items: center;
  padding: 10px;
  margin-left: 190px;
  margin-top: 2px;
  background-color: chartreuse;


}
